@model EntityLayer.Concrete.Skill
@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Yetenek Güncelleme Sayfası</h1>
<br />
@using (Html.BeginForm("EditSkill", "SkillCard", FormMethod.Post, new { @id = "form" }))
{
    <div class="form-group">
        @Html.Label("Skill Id")
        @Html.TextBoxFor(x => x.SkillId, new { @class = "form-control" })
        <br />
        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.SkillName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SkillName)
        <br />
        @Html.Label("Yüzdeyi Giriniz")
        @Html.TextBoxFor(x => x.Range, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Range)
        <br />
        <button class="btn btn-success">Güncelle</button>
    </div>
}

